{% extends "base.html" %}
{% block head %}
{{super()}}
{% endblock %}
<body>
{% block content %}
    <script type='text/javascript'>
        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Author " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "author" + i;
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }
        }
    </script>
    <form action="." method="POST">
    
    <p>
    ADD PROJECT TITLE:
    </p>
    
        <input type="text" name="title">
    
    <p>
    ADD PROJECT HEADLINE:
    </p>
    
        <input type="text" name="headline">

    <p>
    ADD INTRODUCTORY PARAGRAPH:
    </p>
    
        <input type="text" name="intro_paragraph">
    <br>

    <br>
    <p>
    ADD CONTENT:
    </p>
        <input type="text" name="content">

    <p>
    NUMBER OF AUTHORS: 
    </p>
    <input type="number" id="member" name="member" value=""<br />
    <a href="#" id="filldetails" onclick="addFields()">ADD AUTHORS</a>

    <input type="submit" name="frm" value="Send">

    <div id="container"/>

    </form>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}
</body>
</html>

